.footer {
  font-family: "Alata", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  height: 160px;
  padding: 2rem 10rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  margin-top: 1rem;
}

.footer-copyright {
  color: var(--color-gray);
  margin-top: 1rem;
}

.footer-icon-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-icon {
  margin: 0.5rem;
}

.footer-icon__logo {
  width: 24px;
  height: auto;
  padding: 0 0 0.5rem 0;
}
.footer-icon__logo:hover {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 358px;
    font-size: 15px;
    line-height: 25px;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .footer-copyright {
    width: 275px;
    margin-top: 0;
  }
}
