.nav {
  font-family: "Alata", sans-serif;
  list-style: none;
  display: flex;
}

.nav-item {
  cursor: pointer;
  text-decoration: none;
  padding: 0 0 0.5rem 0;
  margin: 0 1rem;
  border-bottom: 1px solid transparent;
}
.nav-item:hover {
  border-bottom: 1px solid white;
}

.navicon-open {
  display: none;
  width: 24px;
  height: auto;
}
.navicon-close {
  display: none;
  width: 18px;
  height: 18px;
}

@media only screen and (max-width: 700px) {
  .navicon-open,
  .navicon-close {
    display: initial;
  }
  .nav {
    display: none;
  }
}
